select:focus, button:focus {
    outline: 0;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background: black;
    border-radius: 6px;
}

.header div {
    display: inline-block;
    position: absolute;
}

#logo {
    background-image: url(images/laptop-icon.png);
    background-repeat: no-repeat;
    background-position: 0 2px;
    color: white;
    font-size: 54px;
    padding-left: 72px;
    left: 1%;
}

#menu {
    left: 22%;
    top: 25%;
}

.bmscs-sys-select {
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 8px;
    -moz-box-shadow:inset 0 1px 0 0 #cccccc;
	-webkit-box-shadow:inset 0 1px 0 0 #cccccc;
	box-shadow:inset 0 1px 0 0 #cccccc;
	text-shadow:1px 1px 0 #999999;
    background: #fefcea;
    background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36));
    background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%);
    background: -o-linear-gradient(top, #fefcea 0%,#f1da36 100%);
    background: -ms-linear-gradient(top, #fefcea 0%,#f1da36 100%);
    background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%);
}

#message {
    left: 42%;
    top: 25%;
    width: 28%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#buttons {
    right: 1%;
    top: 25%;
}

#stacktrace {
    position: absolute;
    left: 40%;
    top: 60px;
    background-color: #eeeeee;
    border: 1px inset black;
    padding: .5em;
    white-space: pre;
    z-index: 300;
    display: none;
}

#container {
    position: absolute;
    left: 0;
    top: 72px;
    width: 100%;
    height: 600px;
    text-align: center;
}

#shade {
    position: absolute;
    left: 0;
    top: 72px;
    width: 100%;
    height: 600px;
    display: none;
    z-index: 100;
    background-color: silver;
    opacity: .25;
}

#source {
    position: absolute;
    left: 25%;
    top: 72px;
    width: 50%;
    height: 600px;
    /*text-align: center;*/
    display: none;
    z-index: 200;
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    overflow: auto;
    white-space: pre;
    padding: 2px;
}

.screen {
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    margin-right: 12px;
}

.screen h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

#canvas h1 {
    color: green;
}

#console h1 {
    color: blue;
}

#graphics {
    border: 1px solid black;
    background-color: white;
    margin: 2px;
    padding: 2px;
}

#text {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
    width: 400px;
    height: 400px;
    white-space: pre;
    overflow: auto;
    text-align: left;
}

.bmscs-sys-btn {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px black solid;
    border-radius: 8px;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    height: 30px;
    -moz-box-shadow:inset 0 1px 0 0 #cccccc;
	-webkit-box-shadow:inset 0 1px 0 0 #cccccc;
	box-shadow:inset 0 1px 0 0 #cccccc;
	text-shadow:1px 1px 0px #999999;
    background: #fefcea;
    background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36));
    background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%);
    background: -o-linear-gradient(top, #fefcea 0%,#f1da36 100%);
    background: -ms-linear-gradient(top, #fefcea 0%,#f1da36 100%);
    background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%);
}

.bmscs-sys-btn:hover {
    background: #f1da36;
    background: -moz-linear-gradient(top, #f1da36 0%, #fefcea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1da36), color-stop(100%,#fefcea));
    background: -webkit-linear-gradient(top, #f1da36 0%,#fefcea 100%);
    background: -o-linear-gradient(top, #f1da36 0%,#fefcea 100%);
    background: -ms-linear-gradient(top, #f1da36 0%,#fefcea 100%);
    background: linear-gradient(to bottom, #f1da36 0%,#fefcea 100%);
}

button:active {
    position: relative;
    top: 1px;
}

#input {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    border: 1px outset black;
    border-radius: 3px;
}

.panel {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    margin-right: 12px;
}

.bmscs-ui-input {
    font-size: 18px;
    background-color: white;
    color: black;
    border: 1px inset black;
    border-radius: 4px;
    -moz-box-shadow:inset 0 1px 0 0 #cccccc;
	-webkit-box-shadow:inset 0 1px 0 0 #cccccc;
	box-shadow:inset 0 1px 0 0 #cccccc;
	text-align: left;
}

#submit {
    font-weight: bold;
}

.bmscs-ui-btn {
    width: 90px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px black solid;
    border-radius: 8px;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    height: 30px;
    -moz-box-shadow:inset 0 1px 0 0 #cccccc;
	-webkit-box-shadow:inset 0 1px 0 0 #cccccc;
	box-shadow:inset 0 1px 0 0 #cccccc;
}

.bmscs-ui-select {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 8px;
    -moz-box-shadow:inset 0 1px 0 0 #cccccc;
	-webkit-box-shadow:inset 0 1px 0 0 #cccccc;
	box-shadow:inset 0 1px 0 0 #cccccc;
	text-shadow:1px 1px 0 #999999;
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe));
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}

.red {
    background: #ff3019;
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
}

.red:hover {
    background: #cf0404;
    background: -moz-linear-gradient(top, #cf0404 0%, #ff3019 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf0404), color-stop(100%,#ff3019));
    background: -webkit-linear-gradient(top, #cf0404 0%,#ff3019 100%);
    background: -o-linear-gradient(top, #cf0404 0%,#ff3019 100%);
    background: -ms-linear-gradient(top, #cf0404 0%,#ff3019 100%);
    background: linear-gradient(top, #cf0404 0%,#ff3019 100%);
}

.blue {
    background: #00b7ea;
    background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3));
    background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%);
    background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%);
    background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%);
    background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%);
}

.blue:hover {
    background: #009ec3;
    background: -moz-linear-gradient(top, #009ec3 0%, #00b7ea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009ec3), color-stop(100%,#00b7ea));
    background: -webkit-linear-gradient(top, #009ec3 0%,#00b7ea 100%);
    background: -o-linear-gradient(top, #009ec3 0%,#00b7ea 100%);
    background: -ms-linear-gradient(top, #009ec3 0%,#00b7ea 100%);
    background: linear-gradient(to bottom, #009ec3 0%,#00b7ea 100%);
}

.green {
    background: #cdeb8e;
    background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
    background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%);
    background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%);
    background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%);
    background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%);
}

.green:hover {
    background: #a5c956;
    background: -moz-linear-gradient(top, #a5c956 0%, #cdeb8e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5c956), color-stop(100%,#cdeb8e));
    background: -webkit-linear-gradient(top, #a5c956 0%,#cdeb8e 100%);
    background: -o-linear-gradient(top, #a5c956 0%,#cdeb8e 100%);
    background: -ms-linear-gradient(top, #a5c956 0%,#cdeb8e 100%);
    background: linear-gradient(to bottom, #a5c956 0%,#cdeb8e 100%);
}

.yellow {
    background: #e5e696;
    background: -moz-linear-gradient(top, #e5e696 0%, #d1d360 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e696), color-stop(100%,#d1d360));
    background: -webkit-linear-gradient(top, #e5e696 0%,#d1d360 100%);
    background: -o-linear-gradient(top, #e5e696 0%,#d1d360 100%);
    background: -ms-linear-gradient(top, #e5e696 0%,#d1d360 100%);
    background: linear-gradient(to bottom, #e5e696 0%,#d1d360 100%);
}

.yellow:hover {
    background: #d1d360;
    background: -moz-linear-gradient(top, #d1d360 0%, #e5e696 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d360), color-stop(100%,#e5e696));
    background: -webkit-linear-gradient(top, #d1d360 0%,#e5e696 100%);
    background: -o-linear-gradient(top, #d1d360 0%,#e5e696 100%);
    background: -ms-linear-gradient(top, #d1d360 0%,#e5e696 100%);
    background: linear-gradient(to bottom, #d1d360 0%,#e5e696 100%);    
}

.gray {
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe));
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}

.gray:hover {
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #d1d1d1 49%, #dbdbdb 50%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(49%,#d1d1d1), color-stop(50%,#dbdbdb), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(top, #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%);
    background: -o-linear-gradient(top, #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%);
    background: -ms-linear-gradient(top, #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%);
    background: linear-gradient(to bottom, #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%);
}